# Statistica di base con pandas

In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'Names': ['Simon', 'Kate', 'Francis', 'Laura', 'Mary', 'Julian', 'Rosie', 'Simon', 'Laura'],
                   'Height':[180, 165, 170, 164, 163, 175, 166, 180, 164],
                   'Weight':[85, 65, 68, 45, 43, 72, 46, 85, 45],
                   'Pref_food': ['steak', 'pizza', 'pasta', 'pizza', 'vegetables', 'steak', 'seafood', 'steak', 'pizza'],
                   'Sex': ['m','f','m','f','f','m','f', 'm', 'f']})

In [5]:
df1.describe()

           Height     Weight
count    9.000000   9.000000
mean   169.666667  61.555556
std      6.946222  17.306871
min    163.000000  43.000000
25%    164.000000  45.000000
50%    166.000000  65.000000
75%    175.000000  72.000000
max    180.000000  85.000000

In [7]:
df1.describe().transpose()

        count        mean        std    min    25%    50%    75%    max
Height    9.0  169.666667   6.946222  163.0  164.0  166.0  175.0  180.0
Weight    9.0   61.555556  17.306871   43.0   45.0   65.0   72.0   85.0

In [9]:
df1.count()

Names        9
Height       9
Weight       9
Pref_food    9
Sex          9
dtype: int64

In [ ]:
df1['Height'].median()

In [ ]:
df1['Height'].mean()

In [ ]:
df1['Height'].min()

In [ ]:
df1['Height'].max()

In [ ]:
df1['Height'].std()

In [ ]:
df1['Height'].skew()

In [ ]:
df1['Height'].kurt()

In [ ]:
df1['Height'].mode()